@charset "utf-8";
header, footer {
  background-color: #b7a682;
  padding: 10px;
}

header h1 {
  font-size: 30px;
}

main, article {
  margin: 15px;
}

section {
  margin-top: 15px;
}

.section-img {
  width: 150px;
  height: 130px;
}

th {
  background-color: #a9f5e1
}

td, th {
  padding: 5px;
  border:1px solid #333333;
}

tr:nth-child(even) td {
  background-color: #eeeeee;
}

.article-section {
  width: 50%;
  float: left;
}

.clearBox {
  clear:both;
}